@font-face {
    font-family: "Space Mono";
    src: url(/fonts/SpaceMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url(/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_E";
    src: url(/fonts/Mulish-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "NATS";
    src: url(/fonts/NATS-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "NewsCycle";
    src: url(/fonts/NewsCycle-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ReadexPro";
    src: url(/fonts/ReadexPro[HEXP,wght].ttf) format("truetype");
}