@font-face {
    font-family: "Space Mono";
    src: url(../../assets/fonts/SpaceMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url(../../assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_E";
    src: url(../../assets/fonts/Mulish-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_SB";
    src: url(../../assets/fonts/Mulish-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "NATS";
    src: url(../../assets/fonts/NATS-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "NewsCycle";
    src: url(../../assets/fonts/NewsCycle-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ReadexPro";
    src: url(../../assets/fonts/ReadexPro[HEXP,wght].ttf) format("truetype");
}