@font-face {
    font-family: "Space Mono";
    src: url(../../assets/fonts/SpaceMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url(../../assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_EL";
    src: url(../../assets/fonts/Mulish-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_SB";
    src: url(../../assets/fonts/Mulish-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "NATS";
    src: url(../../assets/fonts/NATS-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "NewsCycle";
    src: url(../../assets/fonts/NewsCycle-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ReadexPro";
    src: url(../../assets/fonts/ReadexPro[HEXP,wght].ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #BBD7EF;
}

.contact-page {
    font-family: "Space Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    font-family: "Space Mono";
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 30px;
}

.contact-form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.contact-details-form,
.comment-section {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
textarea {
    margin-left: 20%;
    width: 60% ;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
}

textarea {
    height: 100px;
}

.form__label {
    margin-left: 20%;
}

.cta-sectiono-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-sectiono__button-second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 50px;
}

.cta-sectiono__button {
    background-color: #6c63ff; 
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 16px;
}

.cta-sectiono__button a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    background: black; 
    height: 0.2em;
    width: 1.5em; 
    margin-right: 10px; 
    position: relative;
    transition: all 0.3s ease;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    background: black;
    height: 0.2em;
    width: 0.5em;
    right: 0;
    top: 0;
}

.arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.cta-sectiono__button:hover {
    background-color: #5a54d6; 
}

.cta-sectiono__button:hover .arrow {
    width: 2em; 
}