@font-face {
    font-family: "Space Mono";
    src: url(../../assets/fonts/SpaceMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url(../../assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_E";
    src: url(../../assets/fonts/Mulish-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish_SB";
    src: url(../../assets/fonts/Mulish-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "NATS";
    src: url(../../assets/fonts/NATS-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "NewsCycle";
    src: url(../../assets/fonts/NewsCycle-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ReadexPro";
    src: url(../../assets/fonts/ReadexPro[HEXP,wght].ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #BBD7EF;
}

.glossary-title {
    font-family: "Space Mono";
    font-size: 30px;
    margin-left: 21px;
}

.glossary-section__title {
    font-family: "Mulish";
    font-size: 17px;
    margin-left: 21px;
    margin-top: 60px;
}

.glossary-section__description {
    margin-top: 20px;
    margin-left: 33px;
    margin-bottom: 50px;
    max-width: 310px;
}